In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import google_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Arraial Do Cabo,-22.9661,-42.0278,76.21,91,99,19.01,BR,2022-03-09 07:19:08
1,1,Guerrero Negro,27.9769,-114.0611,58.89,58,0,16.67,MX,2022-03-09 07:19:08
2,2,Havre-Saint-Pierre,50.2334,-63.5986,17.60,73,0,18.41,CA,2022-03-09 07:19:09
3,3,Ixtapa,20.7000,-105.2000,68.23,88,1,1.97,MX,2022-03-09 07:19:10
4,4,Benghazi,32.1167,20.0667,57.04,60,54,18.61,LY,2022-03-09 07:19:10

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_api_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Arraial Do Cabo,-22.9661,-42.0278,76.21,91,99,19.01,BR,2022-03-09 07:19:08
7,7,Atuona,-9.8000,-139.0333,78.69,80,22,16.60,PF,2022-03-09 07:19:12
8,8,Kahului,20.8947,-156.4700,75.22,70,20,9.22,US,2022-03-09 07:19:12
10,10,Lorengau,-2.0226,147.2712,76.59,89,100,4.27,PG,2022-03-09 07:19:14
12,12,Vaini,-21.2000,-175.2000,78.96,94,75,4.61,TO,2022-03-09 07:19:15
17,17,Butaritari,3.0707,172.7902,81.19,78,100,16.17,KI,2022-03-09 07:19:17
18,18,Kavaratti,10.5669,72.6420,82.71,69,89,9.44,IN,2022-03-09 07:19:18
24,24,Port Elizabeth,-33.9180,25.5701,76.10,73,0,13.80,ZA,2022-03-09 07:17:07
32,32,Chokwe,-24.5333,32.9833,83.35,55,0,8.77,MZ,2022-03-09 07:19:24
36,36,Quatre Cocos,-20.2078,57.7625,85.08,76,51,7.65,MU,2022-03-09 07:19:27

In [23]:
preferred_cities_df.count()

City_ID       154
City          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
Country       153
Date          154
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     76.21 -22.9661  -42.0278
7            Atuona      PF     78.69  -9.8000 -139.0333
8           Kahului      US     75.22  20.8947 -156.4700
10         Lorengau      PG     76.59  -2.0226  147.2712
12            Vaini      TO     78.96 -21.2000 -175.2000
17       Butaritari      KI     81.19   3.0707  172.7902
18        Kavaratti      IN     82.71  10.5669   72.6420
24   Port Elizabeth      ZA     76.10 -33.9180   25.5701
32           Chokwe      MZ     83.35 -24.5333   32.9833
36     Quatre Cocos      MU     85.08 -20.2078   57.7625

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,76.21,-22.9661,-42.0278,Pousada Porto Praia
7,Atuona,PF,78.69,-9.8000,-139.0333,Villa Enata
8,Kahului,US,75.22,20.8947,-156.4700,Maui Seaside Hotel
10,Lorengau,PG,76.59,-2.0226,147.2712,Lorengau Harbourside Hotel
12,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
17,Butaritari,KI,81.19,3.0707,172.7902,Isles Sunset Lodge
18,Kavaratti,IN,82.71,10.5669,72.6420,Hotels in Lakshadweep Islands
24,Port Elizabeth,ZA,76.10,-33.9180,25.5701,39 On Nile Guest House
32,Chokwe,MZ,83.35,-24.5333,32.9833,Complexo Sonho Real
36,Quatre Cocos,MU,85.08,-20.2078,57.7625,Sunrise Attitude Hotel

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))